example-flows.json
[
    {
        "id": "example-tab-hub",
        "type": "tab",
        "label": "Tapo Hub Examples",
        "disabled": false,
        "info": "Example flows for Tapo H100 hub - switches and sensors"
    },
    {
        "id": "hub-config-example",
        "type": "tapo-hub",
        "name": "My H100 Hub"
    },
    {
        "id": "comment-setup",
        "type": "comment",
        "z": "example-tab-hub",
        "name": "SETUP: Configure Hub First!",
        "info": "1. Double-click any device node below\n2. Click pencil icon next to 'Hub' dropdown\n3. Add your H100 hub details:\n   - Hub IP: 192.168.1.100 (your hub IP)\n   - Email: your-email@example.com (lowercase!)\n   - Password: your password\n4. Click 'Add'\n5. Deploy",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment-discovery",
        "type": "comment",
        "z": "example-tab-hub",
        "name": "Step 1: Discover Devices",
        "info": "Click these inject nodes to discover your devices on the hub",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "discover-switches-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Discover Switches",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "discover",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [["switch-node-1"]]
    },
    {
        "id": "switch-node-1",
        "type": "tapo-switch",
        "z": "example-tab-hub",
        "name": "Switch Discovery",
        "hub": "hub-config-example",
        "deviceId": "",
        "deviceName": "",
        "x": 340,
        "y": 140,
        "wires": [["debug-switches"]]
    },
    {
        "id": "debug-switches",
        "type": "debug",
        "z": "example-tab-hub",
        "name": "Switch List",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "discover-sensors-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Discover Sensors",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "discover",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [["sensor-node-1"]]
    },
    {
        "id": "sensor-node-1",
        "type": "tapo-sensor",
        "z": "example-tab-hub",
        "name": "Sensor Discovery",
        "hub": "hub-config-example",
        "deviceId": "",
        "deviceName": "",
        "x": 340,
        "y": 180,
        "wires": [["debug-sensors"]]
    },
    {
        "id": "debug-sensors",
        "type": "debug",
        "z": "example-tab-hub",
        "name": "Sensor List (T310/T315)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "comment-switch-control",
        "type": "comment",
        "z": "example-tab-hub",
        "name": "Step 2: Switch Control (Configure Device ID first)",
        "info": "After discovery:\n1. Copy device_id from debug output\n2. Edit 'Kitchen Switch' node below\n3. Paste device ID\n4. Deploy\n5. Use these controls",
        "x": 270,
        "y": 240,
        "wires": []
    },
    {
        "id": "switch-on-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Turn ON",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 120,
        "y": 280,
        "wires": [["kitchen-switch"]]
    },
    {
        "id": "switch-off-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Turn OFF",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 120,
        "y": 320,
        "wires": [["kitchen-switch"]]
    },
    {
        "id": "switch-toggle-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Toggle",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "toggle",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [["kitchen-switch"]]
    },
    {
        "id": "switch-status-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Get Status",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "status",
        "payloadType": "str",
        "x": 130,
        "y": 400,
        "wires": [["kitchen-switch"]]
    },
    {
        "id": "kitchen-switch",
        "type": "tapo-switch",
        "z": "example-tab-hub",
        "name": "Kitchen Switch",
        "hub": "hub-config-example",
        "deviceId": "",
        "deviceName": "Kitchen Lights",
        "x": 320,
        "y": 340,
        "wires": [["debug-switch-control"]]
    },
    {
        "id": "debug-switch-control",
        "type": "debug",
        "z": "example-tab-hub",
        "name": "Switch Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment-sensor-reading",
        "type": "comment",
        "z": "example-tab-hub",
        "name": "Step 3: Read Temperature Sensor (Configure Device ID first)",
        "info": "After sensor discovery:\n1. Copy sensor device_id\n2. Edit 'Boiler Room Sensor' node\n3. Paste device ID\n4. Deploy\n5. Click 'Read Sensor'",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "sensor-read-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Read Sensor",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "read",
        "payloadType": "str",
        "x": 130,
        "y": 500,
        "wires": [["boiler-sensor"]]
    },
    {
        "id": "sensor-monitor-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Monitor (every 5 min)",
        "props": [{"p": "payload"}],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "read",
        "payloadType": "str",
        "x": 160,
        "y": 540,
        "wires": [["boiler-sensor"]]
    },
    {
        "id": "boiler-sensor",
        "type": "tapo-sensor",
        "z": "example-tab-hub",
        "name": "Boiler Room Sensor",
        "hub": "hub-config-example",
        "deviceId": "",
        "deviceName": "Boiler Room",
        "x": 360,
        "y": 520,
        "wires": [["debug-sensor-reading"]]
    },
    {
        "id": "debug-sensor-reading",
        "type": "debug",
        "z": "example-tab-hub",
        "name": "Temperature & Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "comment-advanced",
        "type": "comment",
        "z": "example-tab-hub",
        "name": "Advanced: Temperature Alert Example",
        "info": "Monitor temperature and send alert if too high",
        "x": 210,
        "y": 600,
        "wires": []
    },
    {
        "id": "temp-monitor-inject",
        "type": "inject",
        "z": "example-tab-hub",
        "name": "Check Temp (every 5 min)",
        "props": [{"p": "payload"}],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "read",
        "payloadType": "str",
        "x": 180,
        "y": 640,
        "wires": [["temp-sensor"]]
    },
    {
        "id": "temp-sensor",
        "type": "tapo-sensor",
        "z": "example-tab-hub",
        "name": "Temperature Monitor",
        "hub": "hub-config-example",
        "deviceId": "",
        "deviceName": "",
        "x": 390,
        "y": 640,
        "wires": [["check-temp-threshold"]]
    },
    {
        "id": "check-temp-threshold",
        "type": "function",
        "z": "example-tab-hub",
        "name": "Check if > 30°C",
        "func": "if (msg.payload.success && msg.payload.readings) {\n    const temp = msg.payload.readings.temperature;\n    const humidity = msg.payload.readings.humidity;\n    const sensor = msg.payload.device.nickname;\n    \n    if (temp > 30) {\n        msg.payload = {\n            alert: true,\n            message: `⚠️ HIGH TEMPERATURE ALERT!`,\n            sensor: sensor,\n            temperature: temp + '°C',\n            humidity: humidity + '%',\n            timestamp: new Date().toLocaleString()\n        };\n        return msg;\n    } else {\n        msg.payload = {\n            alert: false,\n            sensor: sensor,\n            temperature: temp + '°C',\n            humidity: humidity + '%',\n            status: 'Normal'\n        };\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 640,
        "wires": [["debug-temp-alert"]]
    },
    {
        "id": "debug-temp-alert",
        "type": "debug",
        "z": "example-tab-hub",
        "name": "Temperature Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 790,
        "y": 640,
        "wires": []
    }
]
